/* header */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-size: 100%;
    box-sizing: border-box;
    
}

i{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

i:hover{
    opacity: 1;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    width: 100%;
    background:rgba(7,27,252,1);
    
    
}
.header-1{
    text-align:center;
}

header h1{
    background: rgb(34,249,237);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.heart-1{
    display: flex;
    text-align: center;
}

.heart{
    background: radial-gradient(circle at 36% 107%, rgba(249,34,163,1) 28%, rgba(247,1,13,1) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 25px;
    cursor:context-menu;

}
.main{
    width:100%;
    background: rgb(34,249,237);
    
    
}

body{
    font-family: 'Baloo 2', cursive;
}

.favoritos{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    background: rgb(34,249,237);
    background: linear-gradient(6deg,rgba(126,1,247,1) 35%,rgb(34,249,237) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    margin-bottom: 50px;
    cursor:context-menu;
}
.forms{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;


}
.container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 20px;
    

}
.container div{
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-cadastrar{
    border:none;
    background:rgba(7,27,252,1);
    color:rgb(34,249,237);
    border:2px solid rgb(34,249,237);
    border-radius: 7px;
    width: 100px;
    height: 50px;
    padding: 1px;
    margin-top: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:400;
    opacity: 0.8;
    font-size:xx-large

}
.btn-cadastrar:hover{
    width: 8rem;
    height: 3rem;
    opacity: 1;
    transition: all 1s;
    transform:scale(1.1);
    background:rgb(4, 20, 192);
    
}
.delete-movie{
    margin-right: 20%;
    margin-top: 10px;
    border:none;
    outline:none;
    background: transparent;
    cursor: pointer;
    position: absolute;
}
.excluir{
    font-size: 1.5rem;
    color: #fff;
    z-index: 10;
    opacity: 0.9;
}
.excluir:hover{
    font-size: 2rem;
    color: rgb(255, 0, 0);
}
.MOVIES{    
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-bottom: 7px;

}
.cards{
    display: flex;
    flex-direction: column;
    width:30%;
    height: auto;
    align-items: center;
    padding: 5px;
    margin:15px 15px;
    color: rgba(34,249,237,1);
    border-radius: 10px;
    background-color:rgba(126,1,247,1);

}

.cards img{
    width:60%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}
.cards img:hover{
    transition: all 1s;
    transform:scale(1.1);
}
.cards h1{
    text-align: center;
    font-size: large;
}

.cards h3{
    text-align: center;
    font-size:large;
    text-transform: uppercase;
}

.cards h4{
    text-align: center;
}
.div-infos{
    width: 100%;
    background:rgba(7,27,252,1);
}

.inputs{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:10px;
    
}

.inputs div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.inputs label{
    font-size: 1.5rem;
    margin-right: 20%;
    color:rgba(7,27,252,1);
    border-radius:7px;
}
.inputs input{
    width:30%;
    padding:10px;
    border-radius: 7px;
    border:1px solid rgba(7,27,252,1);
    background-color: rgba(126,1,247,1);
    outline: none;
    font-family: inherit;
    caret-color:rgb(34,249,237) ;
    text-align: center;
    
}
.inputs input:hover{
    transform:scale(1.1);
    transition: all 1s;
    background-color: rgb(67, 0, 134);
    border: none;
    color: rgba(7,27,252,1);
}    
.inputs input::placeholder{
    color: rgb(34,249,237);  
}


/* view mobile */
@media(max-width:900px){
    .favoritos{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .MOVIES{
        align-items:center;
        margin-left: auto;
        
    }
    .container{
        flex-wrap: wrap; 
    }
    .inputs div{
        width: 90%;

    }
    .inputs label{
        margin-left: 25%;
        font-size:1.8rem;
    }
    .inputs input{
        width:70%;
        background-color:rgba(7,27,252,1);
        color:rgba(34,249,237,1);
        caret-color:rgba(34,249,237,1);
        text-align: center;
    }
    .cards{
        width:40% ;
        height: 450px;
        align-items: center;
        justify-content:center;
        padding:0;
        margin: 10px 10px;

    }   
    .cards img{
        width: 100%;
        max-height: 60%; 
    }
    .cards h4{
        font-size: 1rem;
    }
    .cards h3{
        font-size:large;
        text-align: center;
        padding-bottom: 10px; 
    }
    .cards h1{
        font-size: large;
    }
    .excluir{
        margin-top: 370px;
        margin-left: 100px;
        border-radius:1px;
        text-align: center;  
    }
    .delete-movie{
        margin-right: 40%;
        margin-top: 20px;
    }

}
footer{
    display: flex;
    flex-direction: column;
    padding:50px 0;
    align-items: center;
    background-color: rgba(7,27,252,1);

}

footer p{
    color:rgba(34,249,237,1);
    text-align: center;
}

.redes{
    background: rgba(34,249,237,1);
    background: linear-gradient(6deg, rgba(34,249,237,1) 37%,rgba(239,255,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:5px;
    opacity: 0.5;

}
.redes:hover{
    opacity: 1;
}
.redes-1{   
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    justify-content:space-evenly;

}